.buttonContainer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.button {
    background-color: rgb(27, 85, 194);
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
}

.button:hover{
    background-color: rgb(17, 74, 180);
}